body { background:#101040;color:#ffffff;font-family:verdana;font-size:12px;margin:0px }
a { color:#ffffff;font-weight:bold;text-decoration:none }
table { font-size:10px;border-width:1 }
td { border-width:0;background:#102040;text-align:center }
img { cursor:crosshair }
.tdcoloron { background:#204080 }
.tdcoloroff { background:#102040 }
